# General
.DS_Store
*.log
.idea/
.vscode/

# Node / Web
web/node_modules
web/.next
web/.swc
web/.next/
web/.swc/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# Exceptions (keep examples)
!.env.example