frontend/node_modules
frontend/.next
frontend/.swc
frontend/.next/
frontend/.swc/
.next/
*.DS_Store
*.pyc
backend/test.py
backend/test2.py
*.env
*.env.local
*.env.development
*.env.production
test.json